#S
pad_clk
pad_rst_n
pad_uart_tx
pad_uart_rx
pad_jtag_tck
pad_jtag_tms
pad_jtag_tdi
pad_jtag_tdo
pad_spi_sclk
pad_spi_mosi
pad_spi_miso
pad_spi_cs_n\[.*\]
pad_flash_sclk
pad_flash_cs_n
pad_flash_mosi
pad_flash_miso
pad_trap
vccd1
vssd1

#E
pad_gpio\[0\]
pad_gpio\[1\]
pad_gpio\[2\]
pad_gpio\[3\]
pad_gpio\[4\]
pad_gpio\[5\]
pad_gpio\[6\]
pad_gpio\[7\]
pad_gpio\[8\]
pad_gpio\[9\]
pad_gpio\[10\]
pad_gpio\[11\]
pad_gpio\[12\]
pad_gpio\[13\]
pad_gpio\[14\]
pad_gpio\[15\]
pad_gpio\[16\]
pad_gpio\[17\]
pad_gpio\[18\]
pad_gpio\[19\]
pad_gpio\[20\]
pad_gpio\[21\]
pad_gpio\[22\]
pad_gpio\[23\]

#W
pad_gpio\[24\]
pad_gpio\[25\]
pad_gpio\[26\]
pad_gpio\[27\]
pad_gpio\[28\]
pad_gpio\[29\]
pad_gpio\[30\]
pad_gpio\[31\]
