#N
@min_distance=0.2
clk_i
rst_ni
jtag_tck_i
jtag_tms_i
jtag_tdi_i
jtag_tdo_o

#E
uart_tx_o
uart_rx_i
spi_sclk_o
spi_mosi_o
spi_miso_i
spi_cs_n_o.*
flash_sclk_o
flash_cs_n_o
flash_mosi_o
flash_miso_i
trap_o
gpio_oe_o.*

#S
gpio_out_o.*

#W
gpio_in_i.*
